{% extends 'base.html' %}
{% block title %}Lịch sử đơn hàng{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>Lịch sử đơn hàng</h2>
  {% if orders %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Ngày đặt</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.total_price}} VND</td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Không có đơn hàng nào.</p>
  {% endif %}
</div>
{% endblock %}
